button{
    border: none;
    background: #c51013;
    padding: 16px 30px;
    color: #fff;
    border-radius: 8px;
    transition: 0.3s;
}
button:hover{
    box-shadow: 0 0 0 4px rgba(20, 184, 66, 0.71),
    0 0 0 8px   rgb(20, 184, 66, 0.71)
}